link(rel='stylesheet', href='/css/chess.css')
.row
    #leftPanel.col-md-2
        div
            label 棋盘
            select#boardType.form-control
                //option(value='board0') 类型1
                option(value='board1', selected) 类型2
        div
            label 棋子
            select#pieceType.form-control
                option(value='wiki.svg',selected) 类型1
                //option(value='ps.jpg') 类型2
        div
            label 模式
            .inlineBlk-group
                label 连将胜
                    input.pull-left.margin-right-5(type='radio', name='queryMode', value='normal', checked='checked')
                label 隔将胜
                    input.pull-left.margin-right-5(type='radio', name='queryMode', value='query')
        ul#boardFuncList.list-unstyled
            li
                button#btnSetupBoard 布局
            li
                button#btnSubmitBoard 连将胜
            li
                button#btnResetBoard 重置
            li
                button#btnBoardLib 残局库
            li
                button#getTemp getTemp
        div
            label top
                input#top(type='number', style='width:100px')
        div
            label bottom
                input#btm(type='number', style='width:100px')
        div
            label left
                input#left(type='number', style='width:100px')
        div
            label right
                input#right(type='number', style='width:100px')
        div
            button#confirm confirm
    .col-md-5#boardDiv
        .row
            img#hideboarddiv
            .col-12#chessContainer
                #chessboarddiv

    .col-md-5#infoDiv

        #piecesListWrapper.collapse
            div
                .inlineBlk-group
                    div
                        | Please setup piece
                    #piecesList
            #boardLibDiv


        #validCheckResult.infoType.collapse
            p
                h3 棋局&nbsp;&nbsp;&nbsp;
                span#boardValidText
            p
                | 位置重复&nbsp;&nbsp;&nbsp;
                span#boardDuplicateValidText
            p
                | 非法棋子&nbsp;&nbsp;&nbsp;
                span#boardPieceNameValidText
            p
                | 非法位置&nbsp;&nbsp;&nbsp;
                span#boardPosValidText
            p
                | 错误数量&nbsp;&nbsp;&nbsp;
                span#boardPieceQtyValidText
        #solutionDiv.collapse
            .row.playFuncRow
                .col-md-12
                    //a
                        img#animatePreStep(width=30 height=30 src='../../src/img/chess/func/previous-track.svg')
                    button
                        img#animatePlayStep(width=30 height=30 src='../../src/img/chess/func/play-button.svg')
                    button
                        img#animatePauseStep(width=30 height=30 src='../../src/img/chess/func/pause-button.svg')
                    //a
                        img#animateNextStep(width=30 height=30 src='../../src/img/chess/func/next-track-button.svg')
            .row
                .col-md-7.padding5
                    table#stepTable.borderDouble
                .col-md-5#stepArrContainer.collapse
                    div 另解:
                    #stepArrDiv
#pieceCandicateDiv.collapse
    img.pieceSize.pickPiece
    span
#moveStepDiv.collapse
    label.prePieceName
    label.pieceText
    img.smallPieceSize
    label.afterPieceName
    label.direction
    label.moveQty
#sampleStepDiv.collapse
    span.orderId
    span.stepText.rStep.alignTop
    span.stepText.bStep.alignBottom
