extends layout

block content
    script.
        var serverIP = '#{ip}'
        var serverPort = '#{port}'
    script(src='js/home.js')
    p Web Tools
    .col-md-2
        ul#funcCate.nav.nav-pills.nav-stacked
            li(data-toggle='tab', href='#douyuVideo',file='douyuVideo')
                a 斗鱼视频
            li(data-toggle='tab', href='#chessFinalPhase',file='chessFinalPhase')
                a 象棋残局研究
            li
                a other
    .col-md-10
        div.tab-content
            #douyuVideo.tab-pane.fade
                include ./douyuVideo/main
            #chessFinalPhase.tab-pane.fade
                include ./chessFinal/main

