doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="shortcut icon" type="image/ico" href="favicon.png")
        //link(rel='stylesheet', href='/css/datatables.min.css')
        //meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
        script(src='src/lib/jquery-3.2.0.min.js')
        script(src='src/lib/socket.io.min.js')
        script(src='src/lib/bootstrap.min.js')
        script(src='js/mySocket.js')
        script(src='src/lib/datatables.min.js')
        script(src='src/lib/require.js')

    body
        block content
