#leftPanel {
    outline: blue solid 1px;
}

#chessContainer {
    position: relative;
}

.pickPiece {
    /*margin-left: 10px;*/
    margin-right: 5px;
    margin-bottom: 5px;
    z-index: 20;
}

#chessContainer {
    padding: 5px;
}

#chessboarddiv {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#piecesList .pickPiece {
    margin-left: 7px;
}

.padding5 {
    padding: 5px;
}

.borderDouble {
    border: double blue 3px;
}

.pieceSize {
    width: 50px;
    height: 50px;
}

.testImg {
    /*background-image: url("../src/img/chess/piece/wiki/rx.svg");*/
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    position: absolute;
    transform: translate(-50%, -50%);
}

img:not([src]) {
    visibility: hidden;
}

.pieceImg {
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    position: absolute;
    transform: translate(-50%, -50%);
}

.fadeback {
    border: solid 1px red;
}

#boardFuncList li {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5px;
}

#boardFuncList li button {
    width: 100%;
}

#infoDiv {
    padding: 15px;
}

#infoDiv > .infoType {
    padding: 5px;
    outline: red solid 1px;
}

.playFuncRow {
    padding: 5px;
}

.playFuncRow img {
    margin-left: 5px;
    margin-right: 5px;
}

.stepText {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;

}

.stepText.selected {
    color: white;
    background: blue;
}

.stepArrTxt {
    padding: 5px;
}

#stepArrContainer {
    border: double blue 3px;
}

/*#hideboarddiv {*/
/*opacity:0;*/
/*position: absolute;*/
/*width:100%;*/
/*height:100%;*/
/*}*/