#chessContainer {
    position: relative;
}

#chessboarddiv {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.pieceSize {
    width: 40px;
    height: 40px;
}

.testImg {
    background-image: url("../src/img/chess/piece/ps/rx.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    position: absolute;
    transform: translate(-50%, -50%);
}

/*#hideboarddiv {*/
/*opacity:0;*/
/*position: absolute;*/
/*width:100%;*/
/*height:100%;*/
/*}*/