.row
    .well.col-md-12
        .inlineBlk-group
            div
                label 模式
                .inlineBlk-group
                    label 一般
                        input.pull-left.margin-right-5(type='radio', name='queryMode', value='normal')
                    label 检索
                        input.pull-left.margin-right-5(type='radio', name='queryMode', value='query')
            h2.text-danger 查询
            div
                label 类别1
                select#cate1List.form-control
                    option(value='') 全部
            div
                label 类别2
                select#cate2List.form-control
                    option(value='') 全部
            div
                label 查询页数(总共:
                    span#totalPage 0
                label )
                select#firstPages.form-control
            text#loadingText
            button#queryNow 搜索
            .pull-right.inlineBlk-group
                h2.text-danger 结果
                h4 总视频数:
                    span#totalNumVideo
                button#resetData 重置数据

    .well.col-md-12
        .inlineBlk-group#refineQuery
            h2.text-danger 过滤
            div#queryText
                label 标题
                input.form-control(type='text')
            div#queryViewer
                label 观看人数
                .inlineBlk-group
                    input.form-control(type='number')
                    | -
                    input.form-control(type='number')
            div#queryMin
                label 时长(分钟)
                .inlineBlk-group
                    input.form-control(type='number')
                    | -
                    input.form-control(type='number')
            div
                label 主播
                select#author.form-control

            div#authorList
                label 选中的主播
                .inlineBlk-group


    .col-md-12
        label#numDisplayResult
        table#ContentTable.borderTable.display(style='width:100%')