.row
    .well.col-md-12
        .inlineBlk-group
            h2.text-danger 查询
            div
                label 类别1
                select#cate1List.form-control
                    option(value='') any
            div
                label 类别2
                select#cate2List.form-control
                    option(value='') any
            text#loadingText
            div
                label 查询页数(总共:
                    span#totalPage 0
                label )
                select#firstPages.form-control
            .pull-right.inlineBlk-group

                h2.text-danger 结果
                h4 总视频数:
                    span#totalNumVideo
                button#resetData reset data

    .well.col-md-12
        .inlineBlk-group#refineQuery
            h2.text-danger 过滤
            div#queryViewer
                label 观看人数
                .inlineBlk-group
                    input(type='number')
                    | -
                    input(type='number')
            div
                label 主播
            div#queryMin
                label 时长(分钟)
                .inlineBlk-group
                    input(type='number')
                    | -
                    input(type='number')



    .col-md-12
        .form-inline

        table#ContentTable.borderTable.display(style='width:100%')